body{
    background-color: rgb(193, 197, 201);
}
.main{
    margin-left: 600px;
}
h1{
    text-align: center;
    color: brown;
}
table{
    align-items: center;
}
form{
    align-items: center;
}
.txt{
    margin: 10px;
    width: 300px;
    height: 30px;
}
td{
    font-size: 20px;
}
button{
    width: 100px;
    height: 40px;
    margin: 10px;
    background-color: rgb(73, 73, 238);
    color: aliceblue;
    border: 1px solid lightblue;
    border-radius: 6px;
}
.gd{
    height: 20px;
    width: 20px;
}