body{
    background-color: rgb(219, 217, 214);
}
.main1{
    /* margin: 40px 100px; */
   align-items: center;
   gap: 10px;
}
h1{
    
    text-align: center;
    color: brown;
    margin-top: 100px;
}
.txt{
    width: 250px;
    height: 40px;
    border: 1px solid rgb(223, 199, 199);
    border-radius: 10px;
   margin-top: 50px;
}
.btn{
    width: 100px;
    height: 40px;
    color: rgb(253, 242, 242);
    background-color: green;
    border: 1px solid rgb(223, 199, 199);
    border-radius: 10px;
}
.btn1{
    width: 100px;
    height: 40px;
    color: rgb(248, 241, 241);
    background-color: rgb(67, 70, 212);
    border: 1px solid rgb(223, 199, 199);
    border-radius: 10px;
}
.btn2{
    width: 100px;
    height: 40px;
    color: rgb(250, 241, 241);
    background-color: rgb(233, 72, 72);
    border: 1px solid rgb(223, 199, 199);
    border-radius: 10px;
}
.add1{
    float: right;
    width: 150px;
    height: 40px;
    color: rgb(252, 243, 243);
    background-color: rgb(66, 76, 221);
    border: 1px solid rgb(66, 76, 221);
    border-radius: 10px;
    margin-right: 60px;
}